@charset "UTF-8";

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Thin.woff2") format("woff2"), url("../fonts/Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/*Обнуление*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  background-color: transparent;
  cursor: pointer;
}

span {
  display: inline-block;
}

a {
  color: black;
}

/*--------------------------------------------*/

body {
  background-color: #E1E8F0;
  font-size: 36px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Inter;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E1E8F0;
  z-index: 100;
  opacity: 1;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  visibility: visible;
}

.preloader.done {
  visibility: hidden;
  opacity: 0;
}

.loader {
  width: 90px;
  height: 90px;
  border: 10px solid white;
  border-radius: 50%;
  border-top-color: #6BCB7A;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: 1s spin infinite linear;
          animation: 1s spin infinite linear;
}

.load-perc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24px;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.content--hidden {
  position: absolute;
  width: 100%;
}

.content__inner {
  position: relative;
}

.content__title {
  top: 135px;
  left: 44px;
  z-index: 4;
}

.content__sub-title {
  top: 277px;
  left: 375px;
  z-index: 4;
}

.content__text {
  top: 419px;
  left: 219px;
  z-index: 4;
  white-space: nowrap;
}

.content__arrows {
  position: absolute;
  top: 570px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.content__btn {
  position: absolute;
  top: 700px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.content__actions {
  position: absolute;
  left: 20px;
  top: 700px;
}

.content__actions.vissible .telegram {
  top: -100px;
  opacity: 1;
  visibility: visible;
}

.content__actions.vissible .instagram {
  top: -30px;
  opacity: 1;
  visibility: visible;
}

.content__img {
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 156px;
  right: 0px;
  width: 250px;
  height: 250px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.item-bg {
  background-color: white;
  border-radius: 50px;
  padding: 31px 39px;
  display: inline-block;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 42px;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: transparent;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #7EB4F2;
  white-space: nowrap;
}

.button:hover span:nth-child(1) {
  -webkit-transform: translateY(-18px);
      -ms-transform: translateY(-18px);
          transform: translateY(-18px);
}

.button span:nth-child(2) {
  position: absolute;
  color: #7EB4F2;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
          clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  white-space: nowrap;
}

.button:hover span:nth-child(2) {
  -webkit-transform: translateY(18px);
      -ms-transform: translateY(18px);
          transform: translateY(18px);
}

.button span:nth-child(3) {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) scaleY(0);
      -ms-transform: translateY(-50%) scaleY(0);
          transform: translateY(-50%) scaleY(0);
  left: 0;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: #6BCB7A;
}

.button:hover span:nth-child(3) {
  -webkit-transform: translateY(-50%) scaleY(1);
      -ms-transform: translateY(-50%) scaleY(1);
          transform: translateY(-50%) scaleY(1);
}

.actions__icon {
  width: 70px;
  height: 70px;
}

.actions__icon::before {
  content: "";
  position: absolute;
  border: 2px solid #7EB4F2;
  right: -20px;
  top: -5px;
  bottom: -20px;
  left: -20px;
  border-radius: 50%;
  -webkit-animation: pulse 2.5s linear infinite;
          animation: pulse 2.5s linear infinite;
  opacity: 0;
}

.actions__icon::after {
  content: "";
  position: absolute;
  border: 2px solid #7EB4F2;
  right: -20px;
  top: -5px;
  bottom: -20px;
  left: -20px;
  border-radius: 50%;
  -webkit-animation: pulse 2.5s linear infinite;
          animation: pulse 2.5s linear infinite;
  opacity: 0;
}

.actions__icon::after {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
}

.actions__item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.actions__item-img {
  width: 50px;
  height: 50px;
}

.close {
  left: -300%;
  opacity: 0;
  visibility: hidden;
}

.close-skills {
  left: 0;
}

.skills {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  width: 100%;
  left: -200%;
  opacity: 0;
  visibility: hidden;
}

.skills__inner {
  position: relative;
}

.skills__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.skills__title {
  background-color: white;
  padding: 15px 56px;
  font-weight: 700;
  border-radius: 50px;
}

.skills__items {
  margin-bottom: 40px;
}

.skills__items-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.skills__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__item-img {
  width: 100px;
  height: 106px;
  margin-bottom: 18px;
}

.skills__items-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills-bg {
  font-size: 32px;
  background-color: white;
  display: inline-block;
  padding: 17px 52px;
  border-radius: 20px;
  font-weight: 500;
}

.resume {
  background-color: white;
  padding: 30px 50px;
  font-size: 24px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.resume__title {
  margin-bottom: 20px;
}

.resume__list {
  margin-bottom: 20px;
}

.resume__list-item {
  padding-left: 35px;
  position: relative;
  font-weight: 500;
}

.resume__list-item + .resume__list-item {
  margin-top: 10px;
}

.resume__list-item::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  background: url(../img/item.svg) no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.prev-last {
  width: 43px;
  height: 65px;
  cursor: pointer;
}

.buttons {
  position: absolute;
  top: 0;
  right: 10px;
}

.buttons__prev {
  width: 43px;
  height: 65px;
  cursor: pointer;
}

.buttons__next {
  width: 43px;
  height: 65px;
  cursor: pointer;
}

.works {
  position: absolute;
  top: 0;
  left: -300%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
}

.works__wrapper {
  position: relative;
}

.works__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.works__title {
  background-color: white;
  padding: 15px 56px;
  font-weight: 700;
  border-radius: 50px;
}

.works__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__item + .works__item {
  margin-top: 30px;
}

.works__item-img {
  margin-right: 20px;
}

.works__item-img img {
  width: 100px;
  height: 100px;
}

.works__item-link {
  background-color: white;
  padding: 15px 56px;
  display: inline-block;
  border-radius: 20px;
}

.close-skills {
  left: 0;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1239px) {
  .content__title {
    left: 100px;
  }

  .content__sub-title {
    left: 250px;
  }

  .item-bg {
    padding: 21px 29px;
    border-radius: 30px;
    font-size: 24px;
  }
}

@media (max-width: 1120px) {
  .skills__item-img {
    width: 60px;
    height: 66px;
  }

  .skills-bg {
    font-size: 20px;
    padding: 15px 32px;
    border-radius: 10px;
  }

  .resume {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .content__title {
    left: 0;
  }

  .content__sub-title {
    left: 150px;
  }

  .content__text {
    left: 70px;
  }
}

@media (max-width: 800px) {
  .item-bg {
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .content__title {
    max-width: 350px;
    text-align: center;
  }

  .content__sub-title {
    left: 20px;
    top: 220px;
  }

  .content__text {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 329px;
  }

  .content__arrows {
    top: 460px;
  }

  .content__btn {
    top: 600px;
  }

  .content__actions {
    top: 650px;
  }

  .content__img {
    top: 15px;
    width: 230px;
    height: 230px;
  }

  .skills__title {
    font-size: 24px;
    padding: 15px 40px;
    border-radius: 20px;
  }

  .skills__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .skills__items-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .skills .skills__item + .skills__item {
    margin-top: 20px;
  }

  .skills__items-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .resume {
    padding: 20px 30px;
  }

  .resume__title {
    text-align: center;
    line-height: 24px;
  }

  .resume__text {
    text-align: center;
    line-height: 24px;
  }

  .prev-last {
    width: 33px;
    height: 55px;
  }

  .buttons__prev {
    width: 33px;
    height: 55px;
  }

  .buttons__next {
    width: 33px;
    height: 55px;
  }

  .works__title {
    font-size: 24px;
    padding: 15px 40px;
    border-radius: 20px;
  }

  .works__item-img img {
    width: 60px;
    height: 60px;
  }

  .works__item-link {
    font-size: 18px;
    padding: 15px 35px;
    border-radius: 10px;
  }
}

@media (max-width: 640px) {
  .content__img {
    right: 0;
    width: 190px;
    height: 190px;
  }
}

@media (max-width: 610px) {
  .content__title {
    top: 185px;
  }

  .content__sub-title {
    top: 265px;
  }

  .item-bg {
    font-size: 18px;
    line-height: 120%;
  }
}

@media (max-width: 560px) {
  .skills__box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 70px;
    margin-top: 40px;
  }

  .skills__title {
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 10px;
  }

  .prev-last {
    width: 25px;
    height: 45px;
  }

  .buttons {
    right: 0;
  }

  .buttons__prev {
    width: 25px;
    height: 45px;
  }

  .buttons__next {
    width: 25px;
    height: 45px;
  }

  .works__box {
    margin-top: 40px;
  }

  .works__title {
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 10px;
  }
}

@media (max-width: 550px) {
  .button {
    font-size: 22px;
  }

  .button span:nth-child(3) {
    font-size: 14px;
  }
}

@media (max-width: 520px) {
  .skills-bg {
    font-size: 18px;
    padding: 15px 20px;
  }

  .resume {
    font-size: 16px;
  }

  .resume__list-item::before {
    top: 0;
  }
}

@media (max-width: 510px) {
  .content__text {
    white-space: normal;
    text-align: center;
    min-width: 290px;
  }

  .content__img {
    left: 50%;
    width: 165px;
    height: 165px;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media (max-width: 430px) {
  .skills__box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 30px;
  }
}

@media (max-width: 420px) {
  .content__arrows {
    top: 430px;
  }

  .content__arrows-left {
    width: 50px;
    height: 50px;
  }

  .content__arrows-right {
    width: 50px;
    height: 50px;
  }

  .content__btn {
    top: 540px;
  }

  .content__actions {
    top: 600px;
  }

  .works__item-link {
    font-size: 16px;
    padding: 15px 25px;
  }
}

@media (max-width: 400px) {
  .works__box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 390px) {
  .skills__box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0;
  }
}

@media (max-width: 380px) {
  .resume {
    padding: 15px 20px;
    border-radius: 10px;
  }
}

@media (max-width: 360px) {
  .skills__title {
    padding: 12px 12px;
    font-size: 18px;
  }

  .works__title {
    padding: 12px 12px;
    font-size: 18px;
  }
}